.background {
  background-image: url("/img/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blur {
  backdrop-filter: blur(0.5rem);
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  height: 100vh;
  place-items: center;
  width: 100vw;
}

.main {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.citiesContainer {
  align-items: center;
  backdrop-filter: blur(1.2rem);
  background-color: rgba(255, 255, 255, 0.35);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

@media (min-width: 768px) {
  .main {
    background-image: url("/img/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    max-height: 680px;
    width: 70vw;
  }
}
