.container {
  align-items: center;
  display: flex;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  overflow: hidden;
}
.input {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
}
.input:focus {
  outline: 0;
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.button {
  align-items: center;
  background-color: transparent;
  border-radius: 9999px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  justify-content: center;
}
.button:hover {
  opacity: 0.8;
}
